<a href="https://colab.research.google.com/github/JBonilla00/food-sales-predictions/blob/main/Bakery_NP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
price=[2, 1, 10]
type(price)

list

In [ ]:
quantity_sold=[17, 40, 1]
type(quantity_sold)

list

In [ ]:
import numpy as np

In [ ]:
price_array = np.array(price)
quantity_sold_array = np.array(quantity_sold)
type(price_array)

numpy.ndarray

In [ ]:
price_array * quantity_sold_array

array([34, 40, 10])

In [ ]:
cost_array= np.array([0.25,0.50,5.00])

In [ ]:
profit_array = price_array - cost_array
print(profit_array)

[1.75 0.5  5.  ]

In [ ]:
profit_array > 2.00

array([False, False,  True])

In [ ]:
price_array = price_array + [7]
print(price_array)

[ 9  8 17]

In [ ]:
# Just fixing the mistake
price_array = price_array - [7]
# The prper wat to append an element to an array
price_array = np.append(price_array, 7)
print(price_array)

[ 2  1 10  7]

In [ ]:
price_array = np.append(price_array,[4.50,3,4,9])
print(price_array)

[ 2.   1.  10.   7.   4.5  3.   4.   9. ]

In [ ]:
print(price_array.dtype)

float64

In [ ]:
price_array = np.delete(price_array, -1)
print(price_array)

[ 2.   1.  10.   7.   4.5  3.   4. ]

In [ ]:
price_array[2] = 12
print(price_array)

[ 2.   1.  12.   7.   4.5  3.   4. ]

In [ ]:
quantity_sold_array = np.append(quantity_sold_array, [2, 3, 16, 5])
quantity_sold_array[1] = 39
print(quantity_sold_array)

[17 39  1  2  3 16  5]

In [ ]:
sale = price_array * quantity_sold_array
print(sale)

[34.  39.  12.  14.  13.5 48.  20. ]

In [ ]:
quantity_leftover = [0, 0, 2, 1, 6, 0, 2]
type(quantity_leftover)

list

In [ ]:
quantity_leftover_array = np.array(quantity_leftover)

In [ ]:
discount_array = np.divide(price_array,2)
print(discount_array)

[1.   0.5  6.   3.5  2.25 1.5  2.  ]

In [ ]:
clearance = np.multiply(quantity_leftover_array,discount_array)
print(clearance)

[ 0.   0.  12.   3.5 13.5  0.   4. ]

In [ ]:
total = sale + clearance
print(total)

[34.  39.  24.  17.5 27.  48.  24. ]

$213.50