<a href="https://colab.research.google.com/github/JBonilla00/Core-_Assignments/blob/main/Mall_Customers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1) Source of data
https://www.kaggle.com/datasets/shwetabh123/mall-customers?resource=download
2) Brief description of data
Customer demographics and spending
3) What is the target? 
Spending Score
4) Is this a classification or regression problem?
Classification
5) How many features?
5
6) How many rows of data.
200
7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
corrilating income and spending score as probability of outliers could be frequant.

In [8]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv('/content/Mall_Customers.csv')
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [15]:
1) Source of data
https://catalog.data.gov/dataset/electric-vehicle-population-data
2) Brief description of data
This dataset shows the Battery Electric Vehicles (BEVs) and Plug-in Hybrid Electric Vehicles (PHEVs) that are currently registered through Washington State Department of Licensing (DOL).
3) What is the target?
Electric Range
4) Is this a classification or regression problem?
classification
5) How many features?
16
6) How many rows of data.
91933
7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
i see missing data that will be corrected

SyntaxError: ignored

In [13]:
df2 = pd.read_csv('/content/Electric_Vehicle_Population_Data.csv')
df2.head()

,VIN (1-10),County,City,State,ZIP Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility
0,1G1RC6E45F,Thurston,TENINO,WA,98589,2015,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,38,0,35.0,157715015,POINT (-122.842388 46.855401),PUGET SOUND ENERGY INC
1,5YJSA1E26J,Snohomish,MUKILTEO,WA,98275,2018,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,249,0,21.0,474398907,POINT (-122.302507 47.911921),PUGET SOUND ENERGY INC
2,5YJSA1E26K,Camden,SAINT MARYS,GA,31558,2019,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270,0,NaN,185220493,POINT (-81.558651 30.777128),NaN
3,1G1FW6S03H,Thurston,LACEY,WA,98503,2017,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,22.0,196814537,POINT (-122.80237 47.02499),PUGET SOUND ENERGY INC
4,1N4AZ0CP6D,Skagit,MOUNT VERNON,WA,98273,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,40.0,171974470,POINT (-122.355669 48.416422),PUGET SOUND ENERGY INC

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91933 entries, 0 to 91932
Data columns (total 16 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   VIN (1-10)                                         91933 non-null  object
 1   County                                             91925 non-null  object
 2   City                                               91933 non-null  object
 3   State                                              91933 non-null  object
 4   ZIP Code                                           91933 non-null  int64
 5   Model Year                                         91933 non-null  int64
 6   Make                                               91933 non-null  object
 7   Model                                              91916 non-null  object
 8   Electric Vehicle Type                              91933 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  91933 non-null  object
 10  Electric Range                                     91933 non-null  int64
 11  Base MSRP                                          91933 non-null  int64
 12  Legislative District                               91694 non-null  float64
 13  DOL Vehicle ID                                     91933 non-null  int64
 14  Vehicle Location                                   91170 non-null  object
 15  Electric Utility                                   90884 non-null  object
dtypes: float64(1), int64(5), object(10)
memory usage: 11.2+ MB